In [1]:
import requests
import calendar
import time
import pandas as pd

## Subreddit Personal Finance Submissions

In [2]:
url = 'https://api.pushshift.io/reddit/search/submission'
params = {
    'subreddit': 'personalfinance',
    'limit': 1000,
    'filter': 'subreddit, selftext, title, created_utc'

}

In [3]:
res = requests.get(url, params)
res.status_code

200

In [4]:
data = res.json()

In [5]:
posts = data['data']

In [6]:
len(posts)

1000

In [7]:
df1_pf_subs = pd.DataFrame(posts)

In [8]:
df1_pf_subs.head()

,subreddit,selftext,title,created_utc
0,personalfinance,So at the moment i am working online at a fore...,Are there any worldwide loan companies that ar...,1673223643
1,personalfinance,"Hey guys, so basically i'm travelling to the U...","Load prepaid card with PayPal balance, can thi...",1673223559
2,personalfinance,I just got an Elan Max Cash Preferred (yay!) a...,Elan Visa rewards: Anyone seen this before? (s...,1673223447
3,personalfinance,I haven’t saved my entire working life like I ...,Any opinion on if I am doing ok or what I shou...,1673223300
4,personalfinance,"Hello,\n\nWithout getting into too much detail...",Personal loan with ~ 710 credit score,1673223128

In [9]:
df1_pf_subs.tail()

,subreddit,selftext,title,created_utc
995,personalfinance,"I have a ton of options for healthcare, some w...",Are all HSAs able to be invested?,1672964808
996,personalfinance,"Hello, I applied for an Insurance Billing Coo...","Help me negotiate my salary, received a job of...",1672964575
997,personalfinance,Posting because although I've searched around ...,Tips on how to better manage finances?,1672964451
998,personalfinance,So I'm try to make sure I understand how my ta...,Help understanding pre tax 401k contributions ...,1672964409
999,personalfinance,"I know, silly question. Let me share my mindse...",Just Got Money To Pay Off My Student Loan….But...,1672964034

In [10]:
url = 'https://api.pushshift.io/reddit/search/submission'
params = {
    'subreddit': 'personalfinance',
    'limit': 1000,
    'filter': 'subreddit, selftext, title, created_utc',
    'until': 1672960017,

}

In [11]:
res2 = requests.get(url, params)
res2.status_code

200

In [12]:
data2 = res2.json()

In [13]:
posts2 = data2['data']

In [14]:
len(posts2)

1000

In [15]:
df2_pf_subs = pd.DataFrame(posts2)
df2_pf_subs.tail()

,subreddit,selftext,title,created_utc
995,personalfinance,I work as a copywriter making okay money in Ch...,Making ~$60k but have a lot of free time…,1672770559
996,personalfinance,I keep reading about the power of good habits ...,What is a daily habit that has helped you grea...,1672770509
997,personalfinance,I currently have a savings account through Wel...,Savings account advice,1672770320
998,personalfinance,[removed],"If you had $100k to invest right now, what wou...",1672770230
999,personalfinance,What other options would be good? My current s...,Is the PayPal savings account good? 3.75% APY....,1672770100

In [16]:
url = 'https://api.pushshift.io/reddit/search/submission'
params = {
    'subreddit': 'personalfinance',
    'limit': 1000,
    'filter': 'subreddit, selftext, title, created_utc',
    'until': 1672770100,

}

In [17]:
res3 = requests.get(url, params)
res3.status_code

200

In [18]:
data3 = res3.json()

In [19]:
posts3 = data3['data']

In [20]:
df3_pf_subs = pd.DataFrame(posts3)
df3_pf_subs.tail()

,subreddit,selftext,title,created_utc
995,personalfinance,I have an long forgotten SERPS pension that I ...,Withdrawing from a pension at 55,1672503931
996,personalfinance,I have I bonds in a gift box that we’re suppos...,"I Bond in gift box, recipient deceased",1672503926
997,personalfinance,"From what I've read, making a lump sum contrib...",lump sum roth ira payment,1672503841
998,personalfinance,"Hello, I'm looking for a loan calculator with ...","Looking for a specific loan calculator, would ...",1672503786
999,personalfinance,I am trying to set up a system of spreadsheets...,"Retirement planning template for dual earners,...",1672503704

In [21]:
df_pf_subs = [df1_pf_subs, df2_pf_subs, df3_pf_subs] 

df_pf_total = pd.concat(df_pf_subs, ignore_index = True)

In [22]:
df_pf_total.head().T

,0,1,2,3,4
subreddit,personalfinance,personalfinance,personalfinance,personalfinance,personalfinance
selftext,So at the moment i am working online at a fore...,"Hey guys, so basically i'm travelling to the U...",I just got an Elan Max Cash Preferred (yay!) a...,I haven’t saved my entire working life like I ...,"Hello,\n\nWithout getting into too much detail..."
title,Are there any worldwide loan companies that ar...,"Load prepaid card with PayPal balance, can thi...",Elan Visa rewards: Anyone seen this before? (s...,Any opinion on if I am doing ok or what I shou...,Personal loan with ~ 710 credit score
created_utc,1673223643,1673223559,1673223447,1673223300,1673223128

In [23]:
df_pf_total.shape

(3000, 4)

In [40]:
df_pf_total.to_csv('personal_finance.csv')

## Subreddit Financial Independence Submissions

In [24]:
url = 'https://api.pushshift.io/reddit/search/submission'
params = {
    'subreddit': 'financialindependence',
    'limit': 1000,
    'filter': 'subreddit, selftext, title, created_utc'

}

In [25]:
res4 = requests.get(url, params)
res4.status_code

200

In [26]:
data4 = res4.json()

In [27]:
posts4 = data4['data']

In [28]:
len(posts4)

1000

In [29]:
df1_fi_subs = pd.DataFrame(posts4)
df1_fi_subs.tail()

,subreddit,selftext,title,created_utc
995,financialindependence,[removed],Financially,1669509667
996,financialindependence,[removed],I'm staring over at 33,1669506920
997,financialindependence,"I was just made aware of this recently, but th...",For Those Aware of And Using the HSA Delayed R...,1669497158
998,financialindependence,[removed],Backdoor Roth - Pro Rata Rule &amp; Leftover M...,1669488608
999,financialindependence,[removed],Good side hustles for women?,1669484479

In [30]:
url = 'https://api.pushshift.io/reddit/search/submission'
params = {
    'subreddit': 'financialindependence',
    'limit': 1000,
    'filter': 'subreddit, selftext, title, created_utc',
    'until': 1669484479,

}

In [31]:
res5 = requests.get(url, params)
res5.status_code

200

In [32]:
data5 = res5.json()

In [33]:
posts5 = data5['data']

In [34]:
len(posts5)

440

In [35]:
df2_fi_subs = pd.DataFrame(posts5)
df2_fi_subs.tail()

,subreddit,selftext,title,created_utc
435,financialindependence,[removed],Should I start paying down debt or keep invest...,1667521316
436,financialindependence,[removed],18yo in need of financial advice.,1667519274
437,financialindependence,[removed],Stop putting into 403 B,1667518247
438,financialindependence,[removed],Como financiar um carro sem juros abusivos?,1667515619
439,financialindependence,[removed],What the best way to start finding out about f...,1667508491

In [36]:
df2_fi_subs.head()

,subreddit,selftext,title,created_utc
0,financialindependence,[removed],Trying to rebuild your credit check out this app,1669478185
1,financialindependence,Sell some stocks (life savings) for down payme...,What’s the smarter decision?,1669477538
2,financialindependence,I quit my career of 5 years this past October ...,Career change need advice!,1669477023
3,financialindependence,The rules in this sub are ridiculous. It’s ver...,Change mod rules,1669473751
4,financialindependence,[removed],When to Roll a Covered Call Option on a Divide...,1669469646

In [37]:
df_fi_subs = [df1_fi_subs, df2_fi_subs] 

df_fi_total = pd.concat(df_fi_subs, ignore_index = True)

In [38]:
df_fi_total.head().T

,0,1,2,3,4
subreddit,financialindependence,financialindependence,financialindependence,financialindependence,financialindependence
selftext,"Hi all,\n\nLooking for some financial advice. ...",Hi everyone. I just found reddit and this thre...,Dryfeb.ca,This seems like a basic index. Where is it or ...,Is throwing 8 figures of cash in $schd a decen...
title,Financial advice,Advice for a Noob,Go dry this Feb and help people with cancer! G...,Trying to find total NYSE shares outstanding,$schd dividend fund
created_utc,1673219752,1673217972,1673215518,1673214975,1673212325

In [39]:
df_fi_total.shape

(1440, 4)

In [41]:
df_pf_total.to_csv('financial_independence.csv')