In [2]:
import requests
import calendar
import time
import pandas as pd

## Subreddit Personal Finance Submissions

In [3]:
url = 'https://api.pushshift.io/reddit/search/submission'
params = {
    'subreddit': 'personalfinance',
    'limit': 1000,
    'filter': 'subreddit, selftext, title, created_utc'

}

In [4]:
res = requests.get(url, params)
res.status_code

200

In [5]:
data = res.json()

In [6]:
posts = data['data']

In [7]:
len(posts)

1000

In [8]:
df1_pf_subs = pd.DataFrame(posts)

In [9]:
df1_pf_subs.head()

,subreddit,selftext,title,created_utc
0,personalfinance,For years I put money into a deferred compensa...,Percentage of paycheck into Deferred Comp plan...,1673558530
1,personalfinance,So I’m 19 and currently in university And Ive ...,19yrs old First Car (you know the drill),1673557919
2,personalfinance,The other day I was turning right on a green i...,"Other driver ran into me, but I don't have ins...",1673557799
3,personalfinance,[removed],Need help with a parent who’s reluctant to beg...,1673557711
4,personalfinance,[removed],How do I buy a house? How do I qualify? What’s...,1673557611

In [10]:
df1_pf_subs.tail()

,subreddit,selftext,title,created_utc
995,personalfinance,My college was shutdown I had the fed loands w...,How to report income om taxes,1673341870
996,personalfinance,"When it comes to paying off credit cards, the ...",Credit card interest rate vs. interest charge,1673340293
997,personalfinance,"Hi all, \nI'll cut to the chase. I'm super you...",Budgeting for a young person,1673340079
998,personalfinance,[removed],Help me save for retirement with our S-Corp,1673339470
999,personalfinance,My employer is going through an HSA transfer f...,Unable to liquidate all investments for my Opt...,1673339356

In [11]:
url = 'https://api.pushshift.io/reddit/search/submission'
params = {
    'subreddit': 'personalfinance',
    'limit': 1000,
    'filter': 'subreddit, selftext, title, created_utc',
    'until': 1672960017,

}

In [12]:
res2 = requests.get(url, params)
res2.status_code

200

In [13]:
data2 = res2.json()

In [14]:
posts2 = data2['data']

In [15]:
len(posts2)

1000

In [16]:
df2_pf_subs = pd.DataFrame(posts2)
df2_pf_subs.tail()

,subreddit,selftext,title,created_utc
995,personalfinance,I work as a copywriter making okay money in Ch...,Making ~$60k but have a lot of free time…,1672770559
996,personalfinance,I keep reading about the power of good habits ...,What is a daily habit that has helped you grea...,1672770509
997,personalfinance,I currently have a savings account through Wel...,Savings account advice,1672770320
998,personalfinance,[removed],"If you had $100k to invest right now, what wou...",1672770230
999,personalfinance,What other options would be good? My current s...,Is the PayPal savings account good? 3.75% APY....,1672770100

In [17]:
url = 'https://api.pushshift.io/reddit/search/submission'
params = {
    'subreddit': 'personalfinance',
    'limit': 1000,
    'filter': 'subreddit, selftext, title, created_utc',
    'until': 1672770100,

}

In [18]:
res3 = requests.get(url, params)
res3.status_code

200

In [19]:
data3 = res3.json()

In [20]:
posts3 = data3['data']

In [21]:
df3_pf_subs = pd.DataFrame(posts3)
df3_pf_subs.tail()

,subreddit,selftext,title,created_utc
995,personalfinance,I have an long forgotten SERPS pension that I ...,Withdrawing from a pension at 55,1672503931
996,personalfinance,I have I bonds in a gift box that we’re suppos...,"I Bond in gift box, recipient deceased",1672503926
997,personalfinance,"From what I've read, making a lump sum contrib...",lump sum roth ira payment,1672503841
998,personalfinance,"Hello, I'm looking for a loan calculator with ...","Looking for a specific loan calculator, would ...",1672503786
999,personalfinance,I am trying to set up a system of spreadsheets...,"Retirement planning template for dual earners,...",1672503704

In [22]:
df_pf_subs = [df1_pf_subs, df2_pf_subs, df3_pf_subs] 

df_pf_total = pd.concat(df_pf_subs, ignore_index = True)

In [23]:
df_pf_total.head().T

,0,1,2,3,4
subreddit,personalfinance,personalfinance,personalfinance,personalfinance,personalfinance
selftext,For years I put money into a deferred compensa...,So I’m 19 and currently in university And Ive ...,The other day I was turning right on a green i...,[removed],[removed]
title,Percentage of paycheck into Deferred Comp plan...,19yrs old First Car (you know the drill),"Other driver ran into me, but I don't have ins...",Need help with a parent who’s reluctant to beg...,How do I buy a house? How do I qualify? What’s...
created_utc,1673558530,1673557919,1673557799,1673557711,1673557611

In [24]:
df_pf_total.shape

(3000, 4)

In [25]:
df_pf_total.to_csv('personal_finance.csv')

## Subreddit Financial Independence Submissions

In [26]:
url = 'https://api.pushshift.io/reddit/search/submission'
params = {
    'subreddit': 'financialindependence',
    'limit': 1000,
    'filter': 'subreddit, selftext, title, created_utc'

}

In [27]:
res4 = requests.get(url, params)
res4.status_code

200

In [28]:
data4 = res4.json()

In [29]:
posts4 = data4['data']

In [30]:
len(posts4)

1000

In [31]:
df1_fi_subs = pd.DataFrame(posts4)
df1_fi_subs.tail()

,subreddit,selftext,title,created_utc
995,financialindependence,Daily FI Discussion Thread\nDaily FI Discussio...,Checking in on r/financialindependence for the...,1669956487
996,financialindependence,[removed],Declaring myself a millionaire.,1669956254
997,financialindependence,I have to move the iras I have to 401k to avoi...,Which companies allow moving ira into 401k,1669953731
998,financialindependence,[removed],What's the worst Financial Mistake that you ha...,1669952851
999,financialindependence,While it is illegal to log into someone else's...,Is it Illegal to Log Into Someone's Instagram ...,1669949067

In [32]:
url = 'https://api.pushshift.io/reddit/search/submission'
params = {
    'subreddit': 'financialindependence',
    'limit': 1000,
    'filter': 'subreddit, selftext, title, created_utc',
    'until': 1669484479,

}

In [33]:
res5 = requests.get(url, params)
res5.status_code

200

In [34]:
data5 = res5.json()

In [35]:
posts5 = data5['data']

In [36]:
len(posts5)

440

In [37]:
df2_fi_subs = pd.DataFrame(posts5)
df2_fi_subs.tail()

,subreddit,selftext,title,created_utc
435,financialindependence,[removed],Should I start paying down debt or keep invest...,1667521316
436,financialindependence,[removed],18yo in need of financial advice.,1667519274
437,financialindependence,[removed],Stop putting into 403 B,1667518247
438,financialindependence,[removed],Como financiar um carro sem juros abusivos?,1667515619
439,financialindependence,[removed],What the best way to start finding out about f...,1667508491

In [38]:
df2_fi_subs.head()

,subreddit,selftext,title,created_utc
0,financialindependence,[removed],Trying to rebuild your credit check out this app,1669478185
1,financialindependence,Sell some stocks (life savings) for down payme...,What’s the smarter decision?,1669477538
2,financialindependence,I quit my career of 5 years this past October ...,Career change need advice!,1669477023
3,financialindependence,The rules in this sub are ridiculous. It’s ver...,Change mod rules,1669473751
4,financialindependence,[removed],When to Roll a Covered Call Option on a Divide...,1669469646

In [39]:
df_fi_subs = [df1_fi_subs, df2_fi_subs] 

df_fi_total = pd.concat(df_fi_subs, ignore_index = True)

In [40]:
df_fi_total.head().T

,0,1,2,3,4
subreddit,financialindependence,financialindependence,financialindependence,financialindependence,financialindependence
selftext,I know being a single 29M at 100k is not such ...,[removed],The other day I made a [similar post](https://...,[removed],Longtime lurker here. I don't know if people l...
title,29M graduated in 2019 and I am 1k away from ne...,Investing for the Future Vs Enjoying Life Now,Preparing to RE in event of terminal diagnosis,I want some tips to start my journey to FI whi...,Journey to the first $100k
created_utc,1673557670,1673553070,1673547665,1673547294,1673544231

In [41]:
df_fi_total.shape

(1440, 4)

In [43]:
df_fi_total.to_csv('financial_independence.csv')